[user]
	name = Nick Waelkens
	email = hi@nick.plus
	signingkey =

[credential]
        helper = osxkeychain

[alias]
        co = checkout
        diff = diff --color --color-words --abbrev
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(blue) <%an>%Creset' --abbrev-commit
        tags = tag -l
        branches = branch -a
        remotes = remote -v
        contributors = shortlog --summary --numbered

[core]
        excludesfile = /Users/nickwaelkens/.gitignore
        attributesfile = ~/.gitattributes
        editor = vim

[apply]
        whitespace = nowarn

[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =

[mergetool "sourcetree"]
        cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
            keepBackup = false

[help]
        autocorrect = 1

[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple

[hub]
        protocol = https

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/

[commit]
        template = ~/.stCommitMsg
        gpgsign = true

[gpg]
        program = gpg

[diff]
        renames = copies

[color]
        ui = true

[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22

[color "diff"]
        meta = 11
        frag = magenta bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse

[branch]
        autosetuprebase = always

[rerere]
        enabled = true
